#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    outline: auto;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}